@rendermode InteractiveServer
@inherits LayoutComponentBase
@inject NavigationManager Nav
@inject IJSRuntime JS

  <AuthorizeView>
    <Authorized>
      <div class="page">
        <div class="sidebar @(isSidebarOpen ? "open" : "closed")">
          <nav>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="ProductList">Product</a></li>
              <li><a href="ProductCategoryList">Product Category</a></li>
              <li><a href="ProductBrandList">Product Brand</a></li>
              <li><a href="OrderList">Order</a></li>
              <li><a href="LocationList">Location</a></li>
              <li><a href="NotificationList">Notification</a></li>
            </ul>
          </nav>
        </div>

        <div class="main-content @(isSidebarOpen ? "shrink" : "")">
          <div class="top-row">
            <div class="logo-area">
              <img src="/images/logo.png" class="logo" /> VAC Admin Portal
              <button class="menu-toggle" @onclick="ToggleSidebar">☰</button>
              <button class="btn btn-sm btn-outline-secondary ms-auto" @onclick="Logout">Logout</button>
            </div>
          </div>
          <main>@Body</main>

        </div>
      </div>
    </Authorized>

    <NotAuthorized>
      <RedirectToLogin />
    </NotAuthorized>
  </AuthorizeView>

@code {
  bool isSidebarOpen = true;
  void ToggleSidebar() => isSidebarOpen = !isSidebarOpen;

    async Task Logout()
    {
        await JS.InvokeVoidAsync("miniapp.logout");
        // ไม่ต้อง Nav.NavigateTo ที่นี่ JS จะ redirect เอง
    }
}
