.page {
    position: relative;
    height: 100vh;
    width: 100%;
}


/* Main Content */
.main-content {
    position: fixed;
    top: 3.5rem; /* สูงเท่าทอปบาร์ */
    left: 0;
    right: 0;
    bottom: 0; /* ล็อกไม่ให้เกิน viewport */
    overflow: auto; /* เลื่อนภายใน main */
    padding: 1rem; /* พอแล้ว ไม่ต้อง padding-top */
}

    .main-content.shrink {
        left: 250px;
    }

/* Top bar */
.top-row {
    background-color: #04394a;
    height: 3.5rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    border-bottom: 2px solid white; /* เส้นแบ่งด้านล่าง top bar */
}
