@inherits LayoutComponentBase

<div class="page">
    <!-- Sidebar -->
    <div class="sidebar @(isSidebarOpen ? "open" : "closed")">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="ProductList">Product</a></li>
                <li><a href="LocationList">Location</a></li>
            </ul>
        </nav>
    </div>

    <!-- Main Content -->
    <div class="main-content @(isSidebarOpen ? "shrink" : "")">
        <!-- Top bar -->
        <div class="top-row">
            <div class="logo-area">
                <img src="images/logo.png" alt="Logo" class="logo"/>VAC Admin Portal
                <button class="menu-toggle" @onclick="ToggleSidebar">
                    ☰
                </button>
            </div>
        </div>

        <main>
            @Body
        </main>
    </div>
</div>

@code {
    private bool isSidebarOpen = false;

    private void ToggleSidebar()
    {
        isSidebarOpen = !isSidebarOpen;
    }
}
