@using Microsoft.AspNetCore.Components.Web

<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="miniApp.AdminPortal.styles.css" />
    <HeadOutlet />
</head>
<body>
    <Routes @rendermode="RenderMode.InteractiveServer" />
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/site.js"></script>
    <script src="js/toast.js"></script>
    <script src="_framework/blazor.web.js"></script>

</body>
</html>
