[Unit]
Description=ADW Portal
After=network.target

[Service]
WorkingDirectory=/opt/adwportal
ExecStart=/usr/bin/dotnet /opt/adwportal/adwportal.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=adwportal
User=dev01
Group=dev02
EnvironmentFile=/etc/adwportal/adwportal.env

[Install]
WantedBy=multi-user.target
