<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="C:\inetpub\wwwroot\frontline\miniApp.Web.exe"
						stdoutLogEnabled="true"
						stdoutLogFile=".\logs\stdout"
						hostingModel="inprocess">
						<environmentVariables>
							<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
							<environmentVariable name="ApiBaseUrl" value="https://appapi.vibeandchic.com/" />
							<environmentVariable name="AuthToken" value="9f4d7c83-21a4-4aaf-9401-6a21717e5460" />
						</environmentVariables>
			</aspNetCore>
		</system.webServer>
	</location>
</configuration>